<%- include("header1.ejs") -%>

    <div class="BC-row row">
    <div class="BC-col text-center">
          <% gArr.forEach(function(gal){%>
            <img class="img-shadow preview rounded" src="images/Printables/<%=galC%>/<%=galC%>M<%=gal%>.<%=gFormat%>" alt="">
          <%});%>
    </div>
    </div>

<%- include("footer1.ejs") -%>
