<%- include("header1") -%>

  <!-- Section 1 -->


  <div class="section1">
    <div class="container-fluid text-center">
      <div class="row1 row">
        <div class="col-lg-6 align-self-center">
          <div class="heading1">
            <h1>Hey!</h1>
          </div>
          <div class="header1">
            <h1>This is <span id="MR">Manirathinam</span></h1>
          </div>
          <div class="heading1">
            <h2>- a Designer and a Developer.</h2>
          </div>
        </div>
        <div class="col-lg-6 align-self-center">
          <img class="landing-img" src="images/<%= landingImg %>" alt="">
        </div>
      </div>
    </div>
  </div>

  <!-- Section 2 -->
  <div class="section2">
    <div class="row">
      <div class="n-box-shadow section2-row cont col-md-6 rounded-4">
        <a href="/Graphic-Design">
          <!-- <h2 class="skill-title" id="GD">Graphic Design</h2> -->
        <img class="BG-img" src="images/GD_BG_<%=imgBGTheme%>.png" alt="">
      </a>
      </div>
      <div class="n-box-shadow section2-row cont col-md-6 rounded-4">
        <a href="/Web-Development">
          <!-- <h2 class="skill-title" id="WD">Web Development</h2> -->
          <img class="BG-img" src="images/WD_BG_<%=imgBGTheme%>1.png" alt="">
        </a>

      </div>
    </div>
  </div>
  <!-- Section 3 -->
  <div class="section3">
    <div class="row">
      <div class="n-box-shadow section2-row cont col-md-6 rounded-4">
        <a href="/UI-Visual-Design">
          <!-- <h2 class="skill-title" id="UID">UI & Visual Design</h2> -->
          <img class="BG-img" src="images/UIV_BG_<%=imgBGTheme%>.png" alt="">
        </a>

      </div>
      <div class="n-box-shadow section2-row cont col-md-6 rounded-4">
        <a href="/TD-&-More">
          <!-- <h2 class="skill-title" id="TD">3D Visualization<br />&<br>More</h2> -->
          <img class="BG-img" src="images/TD_BG_<%=imgBGTheme%>.png" alt="">
        </a>

      </div>
    </div>
  </div>

<%- include("footer1") -%>
